.cus-name {
    background-color: #111;
}

.btn-warning {
    background-color: #f6891f;
}

.lo-btn {
    color: #fff;
    background-color: #fd7e14;
    border-color: #fd7e14;
    box-shadow: none;
}